<!DOCTYPE html>
<html>
	<head>
		<title>Team 02 Home Page</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script> var user_id = "{{ session['user_id'] }}"; </script>
		<script src="/static/scripts/index.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
		<style>
			table {
				border-collapse: collapse;
				width: 70%;
			}

			table, th, td {
				border: 1px solid black;
			}

			th {
				text-align: center;
				background-color: lightgray;
				font-size: 40px;
			}

			th, td {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="menu-icon">
			<div class="menu-line"></div>
			<div class="menu-line"></div>
			<div class="menu-line"></div>
		
		<div class="menu">
			<a href="/about">About Us</a>
			<a href="/">Home</a>
			<a href="/userData">See Your Data</a>
		</div>
		</div>
		<script src="../static/scripts/index.js"></script>
		<div class="center"><h1>Welcome!</h1>
			<table border="1">
				<tr>
					<th colspan="5">Your Data Dashboard</th>
				</tr>
				<tr style="font-size: large; font-weight: bold">
					<td>STAT</td>
					<td>LOW</td>
					<td>HIGH</td>
					<td>AVERAGE</td>
					<td>HEALTHY RANGE</td>
				</tr>
				<tr>
					<td>Heart Rate</td>
					<td id="hr_low"></td>
					<td id="hr_high"></td>
					<td id="hr_avg"></td>
					<td>60 - 100</td>
				</tr>
				<tr>
					<td>Oxygen Level</td>
					<td id="ol_low"></td>
					<td id="ol_high"></td>
					<td id="ol_avg"></td>
					<td>95% - 100%</td>
				</tr>
				<tr>
					<td>Step Count</td>
					<td id="sc_low"></td>
					<td id="sc_high"></td>
					<td id="sc_avg"></td>
					<td>> 8,000 per day</td>
				</tr>
			</table>
		</div>
	</body>
</html>

