<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="center">
	<div class="login-container">
		<h1>Login</h1>
		<form action="/login" method="POST">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" required>

			<label for="password">Password</label>
			<input type="password" name="password" id="password" required>

			<br>
			<button type="submit">Login</button><button><a href="/signup">Sign Up</a></button>
		</form>
	</div>
	</div>
</body>
</html>
