<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="center">
	<div class="login-container">
		<h1>Sign Up</h1>
		<!-- <form action="/newUser" method="POST"> -->
		<form id="signUpForm">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" required>
			
			<label for="password">Password</label>
			<input type="password" name="password" id="password" required>

			<button type="button" onclick="signUp()">Sign Up</button>
		</form>
	</div>
	</div>
	<script>
		function signUp() {
			// Get the values of username and password from the form
			const username = document.getElementById("username").value;
			const password = document.getElementById("password").value;
			
			const apiUrl = '/newUser';
			const authToken = 'ECE3906';
	
			const data = {
				username: username,
				password: password
			};
	
			fetch(apiUrl, {
				method: 'POST',
				headers: {
					'Authorization': `Bearer ${authToken}`,
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
			})
			.catch(error => {
				console.error('An error occured:', error);
			});
		}
	</script>
</body>
</html>