<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Health Data Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style>
        h1 {
        position: relative;
        top: 100px;
        z-index: 2;
        text-align: center;
        }

        .ignore-styling {
            color: black !important;
            top: 0% !important;
        }
    </style>
  </head>
  <body>
    {% include '/fragments/menu.html' %}

    <div class="about-section">
        <h1 class="ignore-styling">Your Data</h1>
        <div class="links">
            <a href="#heartRate">Heart Rate</a>
            <a href="#oxygenLevel">Oxygen Level</a>
            <a href="#stepCount">Step Count</a>
        </div>
    </div>

        <div id="heartRate" class="offset-50"></div>
        <h1>Heart Rate</h1>
          <div id="chart1" class="normal"></div>
          <p class="normal double-spaced center">
            Heart rate refers to the number of times the heart beats per minute, and it indicates the strength and efficiency of the heart's pumping function. The normal range for heart rate in adults is 60 to 100 beats per minute, with variations depending on age, physical activity, and health conditions.
          </p>        
        
        <div id="oxygenLevel" class="offset-50"></div>
        <h1>Oxygen Level</h1>
          <div id="chart2" class="normal"></div>
          <p class="normal double-spaced center">
            Oxygen level, measured through pulse oximetry as SpO2, reflects the percentage of oxygen saturation in the blood. A healthy range is 95% to 100%. Deviations may signal respiratory or circulatory issues, making regular monitoring important.
          </p>        
        
        <div id="stepCount" class="offset-50"></div>
        <h1>Step Count</h1>
          <div id="chart3" class="normal"></div>
          <p class="normal double-spaced center">
            Step count quantifies daily physical activity by tallying steps taken. It's a simple indicator of movement and exercise, often tracked by fitness devices. Monitoring step count supports fitness goals, weight management, and overall well-being, promoting an active lifestyle.
          </p>        

      <script>
        var user_id = "{{ session['user_id'] }}";
      </script>
    <script src="../static/scripts/userDataScript.js"></script>
  </body>
</html>
